body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1217px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u396 {
  position:absolute;
  left:180px;
  top:45px;
  width:110px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
}
#u398 {
  position:absolute;
  left:124px;
  top:45px;
  width:50px;
  height:45px;
}
#u399 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u400 {
  position:absolute;
  left:180px;
  top:73px;
  width:202px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u402 {
  position:absolute;
  left:522px;
  top:62px;
  width:213px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u403 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u404 {
  position:absolute;
  left:930px;
  top:46px;
  width:50px;
  height:44px;
}
#u405 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u406 {
  position:absolute;
  left:1072px;
  top:50px;
  width:145px;
  height:40px;
}
#u407 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u408 {
  position:absolute;
  left:406px;
  top:144px;
  width:51px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u409 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u410 {
  position:absolute;
  left:497px;
  top:144px;
  width:96px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u411 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u412 {
  position:absolute;
  left:621px;
  top:144px;
  width:168px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u413 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u414 {
  position:absolute;
  left:799px;
  top:144px;
  width:166px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u415 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u416 {
  position:absolute;
  left:136px;
  top:235px;
  width:359px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u417 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:2px;
}
#u418 {
  position:absolute;
  left:145px;
  top:298px;
  width:1072px;
  height:1px;
}
#u419 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u420 {
  position:absolute;
  left:304px;
  top:370px;
  width:754px;
  height:105px;
  font-size:20px;
  text-align:center;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  word-wrap:break-word;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  position:absolute;
  left:611px;
  top:492px;
  width:140px;
  height:40px;
}
#u423 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
